<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aba 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button color="dark">
        <ion-icon name="barbell-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="dark">
        <ion-icon name="eyedrop-outline"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>

    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="call-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button>
        <ion-icon name="cloud-outline"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item>
      Conteúdo
    </ion-item>
    <ion-item>
      Conteúdo
    </ion-item>
    <ion-item>
      Conteúdo
    </ion-item>
    <ion-item>
      Conteúdo
    </ion-item>
    <ion-item>
      Conteúdo
    </ion-item>
    <ion-item>
      Conteúdo
    </ion-item>
    <ion-item>
      Conteúdo
    </ion-item>
    <ion-item>
      Conteúdo
    </ion-item>
    <ion-item>
      Conteúdo
    </ion-item>
  </ion-list>
  
</ion-content>