<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Próximo a você
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-chip>
    <ion-label>Escola </ion-label>
    <ion-icon name="school-outline"></ion-icon>
  </ion-chip>
  <ion-chip color="warning">
    <ion-label>Academia </ion-label>
    <ion-icon name="barbell-outline"></ion-icon>
  </ion-chip>
  <ion-chip color="primary">
    <ion-label>Comércio </ion-label>
    <ion-icon name="card-outline"></ion-icon>
  </ion-chip>
  
</ion-content>