<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-item>
  <ion-icon name="wifi" slot="start" ></ion-icon>
  <ion-label>Wifi</ion-label>
  </ion-item>

  <ion-item>
  <ion-icon name="bluetooth-outline" slot="start"></ion-icon>
  <ion-label>Bluetooth</ion-label>
  </ion-item>

  <ion-item>
  <ion-icon name="call-outline" slot="start"></ion-icon>
  <ion-label>Rede Móvel</ion-label>
  </ion-item>
  </ion-card>

  <ion-card>
  <ion-item>
  <ion-icon name="time-outline" slot="start"></ion-icon>
  <ion-label>Hora</ion-label>
  </ion-item>

  <ion-item>
  <ion-icon name="calendar-outline" slot="start"></ion-icon>
  <ion-label>Data</ion-label>
  </ion-item>
  </ion-card>

  <ion-card>
  <ion-item>
  <ion-icon name="settings-outline" slot="start"></ion-icon>
  <ion-label>Geral</ion-label>
  </ion-item>

  <ion-item>
  <ion-icon name="sunny-outline" slot="start"></ion-icon>
  <ion-label>Brilho</ion-label>
  </ion-item>

  <ion-item>
  <ion-icon name="people-outline" slot="start"></ion-icon>
  <ion-label>Contas</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="battery-charging-outline" slot="start"></ion-icon>
    <ion-label>Bateria</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <ion-label>Localização</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="volume-medium-outline" slot="start"></ion-icon>
    <ion-label>Volume</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="shield-outline" slot="start"></ion-icon>
    <ion-label>Segurança</ion-label>
  </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
      <ion-label>Sobre o dispositivo</ion-label>
    </ion-item>
  </ion-card>

</ion-content>