<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating"> Senha: </ion-label>
      <ion-input type="password" [(ngModel)] ="senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Status: {{status}} </ion-label>
  </ion-item>

  <br>
  <ion-button expand="block" (click)="login()" [disabled]="botaoDesabilitado"> Entrar </ion-button>
</ion-content>